ChangeStatusRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Order">
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocTypeID" type="xs:int" use="required" />
    </xs:complexType>
    <xs:complexType name="Statuses">
        <xs:sequence>
            <xs:element name="Order" type="tns:Order" />
        </xs:sequence>
        <xs:attribute name="StatusDate" type="xs:dateTime" use="required" />
        <xs:attribute name="StatusID" type="xs:int" use="required" />
    </xs:complexType>
    <xs:complexType name="ChangeStatusRequest">
        <xs:sequence>
            <xs:element name="Statuses" type="tns:Statuses" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
