Create_client_KA.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Client_KA">
        <xs:attribute name="ClientID" type="xs:string" use="required" />
        <xs:attribute name="ClientName" type="xs:string" />
        <xs:attribute name="INN" type="xs:string" />
        <xs:attribute name="KPP" type="xs:string" />
        <xs:attribute name="Phone" type="xs:string" />
        <xs:attribute name="Email" type="xs:string" />
        <xs:attribute name="АctualАddress" type="xs:string" />
        <xs:attribute name="Postcode" type="xs:string" />
        <xs:attribute name="IsBuyer" type="xs:boolean" />
        <xs:attribute name="IsLegalPerson" type="xs:boolean"  />
        <xs:attribute name="ClientFullName" type="xs:string" />
        <xs:attribute name="OKOPF" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="createClientRequest_KA">
        <xs:choice>
            <xs:element name="Client_KA" type="tns:Client_KA" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
