createCashReceiptsRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Client_KA">
        <xs:attribute name="ClientID" type="xs:string" use="required" />
        <xs:attribute name="ClientName" type="xs:string" />
        <xs:attribute name="INN" type="xs:string" use="required" />
        <xs:attribute name="KPP" type="xs:string" use="required" />
        <xs:attribute name="Phone" type="xs:string" />
        <xs:attribute name="Email" type="xs:string" />
        <xs:attribute name="АctualАddress" type="xs:string" />
        <xs:attribute name="Postcode" type="xs:string" />
        <xs:attribute name="IsBuyer" type="xs:boolean" />
        <xs:attribute name="IsLegalPerson" type="xs:boolean" />
        <xs:attribute name="ClientFullName" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="CashOrderLink">
        <xs:choice>
            <xs:element name="Client_KA" type="tns:Client_KA" minOccurs="1" />
        </xs:choice>
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocNum" type="xs:string" use="required" />
        <xs:attribute name="DocDate" type="xs:dateTime" use="required" />
        <xs:attribute name="BankDocNum" type="xs:string" use="required" />
        <xs:attribute name="BankDocDate" type="xs:dateTime" use="required" />
        <xs:attribute name="BankAccountBeneficiary" type="xs:string" use="required" />
        <xs:attribute name="DocSumm" type="xs:decimal" use="required" />
        <xs:attribute name="NDS_Include" type="xs:boolean" use="required" />
        <xs:attribute name="PurposeOfPayment" type="xs:string" use="required" />
        <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="CashReceiptsRow">
        <xs:attribute name="Summ" type="xs:decimal" use="required" />
        <xs:attribute name="Stavka_NDS" type="xs:string" use="required" />
        <xs:attribute name="Summ_NDS" type="xs:decimal" use="required" />
        <xs:attribute name="SaleDocID" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="CashReceipts">
        <xs:choice>
             <xs:element name="Order" type="tns:CashOrderLink"/>
            <xs:element name="OrderRows" type="tns:CashReceiptsRow" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="createCashReceiptsRequest">
        <xs:choice>
            <xs:element name="Orders" type="tns:CashReceipts" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
