createCashReceiptsRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2020 (https://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CashOrder">
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocNum" type="xs:string" />
        <xs:attribute name="DocDate" type="xs:dateTime" />
        <xs:attribute name="BankDocNum" type="xs:string" />
        <xs:attribute name="BankDocDate" type="xs:dateTime" />
        <xs:attribute name="ClientId" type="xs:string" />
        <xs:attribute name="BankAccountBeneficiary" type="xs:string" />
        <xs:attribute name="DocSumm" type="xs:string" />
        <xs:attribute name="NDS_Include" type="xs:boolean" />
        <xs:attribute name="PurposeOfPayment" type="xs:string" />
        <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="CashReceiptsRow">
        <xs:attribute name="Summ" type="xs:decimal" use="required" />
        <xs:attribute name="Stavka_NDS" type="xs:string" use="required" />
        <xs:attribute name="Summ_NDS" type="xs:decimal" use="required" />
        <xs:attribute name="SaleDocID" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="CashReceipts">
        <xs:complexContent>
            <xs:extension base="tns:CashOrder">
                <xs:choice>
                    <xs:element name="OrderRows" type="tns:CashReceiptsRow" minOccurs="0" maxOccurs="unbounded" />
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="createCashReceiptsRequest">
        <xs:choice>
            <xs:element name="Orders" type="tns:CashReceipts" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>