createWriteOffGoodsRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Stock">
        <xs:attribute name="StockID" type="xs:string" use="required" />
        <xs:attribute name="StockName" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="OrderLink_KA">
        <xs:choice>
            <xs:element name="Stock" type="tns:Stock" minOccurs="1" />
        </xs:choice>
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocTypeID" type="xs:int" use="required" />
        <xs:attribute name="DocNum" type="xs:string" use="required" />
        <xs:attribute name="DocDate" type="xs:dateTime" use="required" />
        <xs:attribute name="DocSumm" type="xs:string" />
        <xs:attribute name="NDS_Include" type="xs:boolean" use="required" />
        <xs:attribute name="SaleDocID" type="xs:string" />
        <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="WriteOffOrderRow">
        <xs:attribute name="GoodID" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
        <xs:attribute name="KeepingVariantID" type="xs:string" />
        <xs:attribute name="BaseKeepingVariantType" type="xs:string" default="796" />
        <xs:attribute name="Coefficient" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="WriteOffGoodsOrder">
        <xs:choice>
            <xs:element name="Order" type="tns:OrderLink_KA" />
            <xs:element name="OrderRows" type="tns:WriteOffOrderRow" minOccurs="1" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="createWriteOffGoodsOrderRequest_KA">
        <xs:choice>
            <xs:element name="Orders" type="tns:WriteOffGoodsOrder" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
