createShipmentOrderRequest_Ka.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Stock">
        <xs:attribute name="StockID" type="xs:string" use="required" />
        <xs:attribute name="StockName" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="Client_KA">
        <xs:attribute name="ClientID" type="xs:string" use="required" />
        <xs:attribute name="ClientName" type="xs:string" use="required" />
        <xs:attribute name="INN" type="xs:string" use="required" />
        <xs:attribute name="KPP" type="xs:string" use="required" />
        <xs:attribute name="Phone" type="xs:string" />
        <xs:attribute name="Email" type="xs:string" />
        <xs:attribute name="АctualАddress" type="xs:string" />
        <xs:attribute name="Postcode" type="xs:string" />
        <xs:attribute name="IsBuyer" type="xs:boolean" use="required" />
        <xs:attribute name="IsLegalPerson" type="xs:boolean" use="required" />
        <xs:attribute name="ClientFullName" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="Address_KA">
        <xs:attribute name="PlainAddress" type="xs:string" />
        <xs:attribute name="PostAddress" type="xs:string" />
        <xs:attribute name="PickpointID" type="xs:string" />
        <xs:attribute name="Zip" type="xs:string" />
        <xs:attribute name="Region" type="xs:string" />
        <xs:attribute name="Area" type="xs:string" />
        <xs:attribute name="City" type="xs:string" />
        <xs:attribute name="Location" type="xs:string" />
        <xs:attribute name="Street" type="xs:string" />
        <xs:attribute name="House" type="xs:string" />
        <xs:attribute name="Building" type="xs:string" />
        <xs:attribute name="Corpus" type="xs:string" />
        <xs:attribute name="Letter" type="xs:string" />
        <xs:attribute name="Slash" type="xs:string" />
        <xs:attribute name="Flat" type="xs:string" />
        <xs:attribute name="ContactPerson" type="xs:string" />
        <xs:attribute name="Phone" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="OrderLink_KA">
        <xs:choice>
            <xs:element name="Stock" type="tns:Stock" minOccurs="1" />
            <xs:element name="Client_KA" type="tns:Client_KA" minOccurs="0" />
        </xs:choice>
        <xs:attribute name="DocTypeID" type="xs:int" use="required" />
        <xs:attribute name="DocNum" type="xs:string" />
        <xs:attribute name="Comment" type="xs:string" />
        <xs:attribute name="DocDate" type="xs:dateTime" />
        <xs:attribute name="DocSumm" type="xs:string" />
        <xs:attribute name="NDS_Include" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="ShipmentOrderRow">
        <xs:attribute name="GoodID" type="xs:string" use="required" />
        <xs:attribute name="GoodName" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
        <xs:attribute name="Price" type="xs:decimal" use="required" />
        <xs:attribute name="KeepingVariantID" type="xs:string" />
        <xs:attribute name="Coefficient" type="xs:decimal" use="required" />
        <xs:attribute name="Summ" type="xs:decimal" use="required" />
        <xs:attribute name="Stavka_NDS" type="xs:string" use="required" />
        <xs:attribute name="Summ_NDS" type="xs:decimal" use="required" />
        <xs:attribute name="Summ_With_NDS" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="ShipmentOrder">
        <xs:complexContent>
            <xs:extension base="tns:OrderLink_KA">
                <xs:choice>
                    <xs:element name="OrderRows" type="tns:ShipmentOrderRow" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="DeliveryInfo" type="tns:Address_KA" />
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="createShipmentOrderRequest_KA">
        <xs:choice>
            <xs:element name="Orders" type="tns:ShipmentOrder" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
