createSalesReportRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SaleOrderLink">
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocNum" type="xs:string" use="required" />
        <xs:attribute name="DocDate" type="xs:dateTime" use="required" />
        <xs:attribute name="ClientId" type="xs:string" use="required" />
        <xs:attribute name="DocSumm" type="xs:decimal" />
        <xs:attribute name="NDS_Include" type="xs:boolean" use="required" />
        <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="SaleReportRow">
        <xs:attribute name="GoodID" type="xs:string" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
        <xs:attribute name="Price" type="xs:decimal" use="required" />
        <xs:attribute name="KeepingVariantID" type="xs:string" />
        <xs:attribute name="BaseKeepingVariantType" type="xs:string" default="796" use="required" />
        <xs:attribute name="Coefficient" type="xs:decimal" use="required" />
        <xs:attribute name="Summ" type="xs:decimal" use="required" />
        <xs:attribute name="Stavka_NDS" type="xs:string" use="required" />
        <xs:attribute name="Summ_NDS" type="xs:decimal" use="required" />
        <xs:attribute name="Summ_With_NDS" type="xs:decimal" use="required" />
        <xs:attribute name="SaleDocID" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="SalesReport">
        <xs:choice>
            <xs:element name="Order" type="tns:SaleOrderLink" />
            <xs:element name="OrderRows" type="tns:SaleReportRow" minOccurs="1" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="createSalesReportRequest">
        <xs:choice>
            <xs:element name="Orders" type="tns:SalesReport" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>
</xs:schema>
