createAcceptanceOrderRequest_Ka.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:tns="http://ws.toplogwms.ru/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.toplogwms.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="AcceptanceOrderRow_KA">
        <xs:attribute name="GoodID" type="xs:string" use="required" />
        <xs:attribute name="Quantity_plan" type="xs:decimal" use="required" />
        <xs:attribute name="Quantity" type="xs:decimal" use="required" />
        <xs:attribute name="Price" type="xs:decimal" use="required" />
        <xs:attribute name="KeepingVariantID" type="xs:string" />
        <xs:attribute name="BaseKeepingVariantType" type="xs:string" default="796" use="required" />
        <xs:attribute name="Coefficient" type="xs:decimal" use="required" />
        <xs:attribute name="Summ" type="xs:decimal" use="required" />
        <xs:attribute name="Stavka_NDS" type="xs:string" use="required" />
        <xs:attribute name="Summ_NDS" type="xs:decimal" />
        <xs:attribute name="Summ_With_NDS" type="xs:decimal" />
    </xs:complexType>
    <xs:complexType name="AcceptanceOrder_KA">
        <xs:choice>
            <xs:element name="Order" type="tns:OrderLink_KA" />
            <xs:element name="Goods" type="tns:Good_KA" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="OrderRows" type="tns:AcceptanceOrderRow_KA" minOccurs="1" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="ReturnTypeID" type="xs:int" />
    </xs:complexType>
    <xs:complexType name="Client_KA">
        <xs:attribute name="ClientID" type="xs:string" use="required" />
        <xs:attribute name="ClientName" type="xs:string" />
        <xs:attribute name="INN" type="xs:string" use="required" />
        <xs:attribute name="KPP" type="xs:string" use="required" />
        <xs:attribute name="Phone" type="xs:string" />
        <xs:attribute name="Email" type="xs:string" />
        <xs:attribute name="АctualАddress" type="xs:string" />
        <xs:attribute name="Postcode" type="xs:string" />
        <xs:attribute name="IsBuyer" type="xs:boolean" />
        <xs:attribute name="IsLegalPerson" type="xs:boolean" use="required" />
        <xs:attribute name="ClientFullName" type="xs:string" />
        <xs:attribute name="OKOPF" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="Good_KA">
        <xs:choice>
            <xs:element name="KeepingVariants" type="tns:KeepingVariant_KA" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="GoodID" type="xs:string" use="required" />
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Article" type="xs:string" />
        <xs:attribute name="BaseKeepingVariantType" type="xs:string" default="796" />
        <xs:attribute name="FullName" type="xs:string" />
        <xs:attribute name="IsService" type="xs:boolean" use="required" />
        <xs:attribute name="Comment" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="KeepingVariant_KA">
        <xs:attribute name="ID" type="xs:string" use="required" />
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="KeepingVariantType" type="xs:int" default="796" />
        <xs:attribute name="Coefficient" type="xs:decimal" use="required" />
    </xs:complexType>
    <xs:complexType name="OrderLink_KA">
        <xs:choice>
            <xs:element name="Stock" type="tns:Stock" minOccurs="1" />
            <xs:element name="Client_KA" type="tns:Client_KA" minOccurs="1" />
        </xs:choice>
        <xs:attribute name="OrderID" type="xs:string" use="required" />
        <xs:attribute name="DocTypeID" type="xs:int" use="required" />
        <xs:attribute name="DocNum" type="xs:string" use="required" />
        <xs:attribute name="DocDate" type="xs:dateTime" use="required" />
        <xs:attribute name="DocSumm" type="xs:decimal" use="required" />
        <xs:attribute name="NDS_Include" type="xs:boolean" use="required" />
        <xs:attribute name="SaleDocID" type="xs:string" />
        <xs:attribute name="Comment" type="xs:string" />
        <xs:attribute name="StatusID" type="xs:int" default="1" />
        <xs:attribute name="StatusDate" type="xs:dateTime" />
    </xs:complexType>
    <xs:complexType name="Stock">
        <xs:attribute name="StockID" type="xs:string" use="required" />
        <xs:attribute name="StockName" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="createAcceptanceOrderRequest_KA">
        <xs:choice>
            <xs:element name="Orders" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:AcceptanceOrder_KA" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
